.hero {
  display: grid;
  grid-template-columns: 8fr 6fr;
  grid-template-rows: auto auto auto;
  //gap: 1rem;
  //border: blue solid 1px;
  height: 50rem;
  //padding: 1rem;
  color: #283142;
}


.heroImage {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 0 0;
}

.heroImage img {
  display: flex;
  max-width: 90%;
  max-height: 90%;
  background: transparent;
  //border: 1px solid black;
}

.heroDescription {
  grid-column: 2 / 3;
  grid-row: 1;
  padding-top: 1rem;
}
.heroDescriptionBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 67%;
  height: 100%;
}
.heroDescriptionBox h1 {
  margin-bottom: 2rem;
  background: transparent;
  padding: 1rem 0 0.5rem 1rem;
  font-size: 4rem;
  border-bottom: 3px solid #283142;
}
.heroDescriptionBox h3{
  background: transparent;
  font-size: 2rem;
  padding: 0 0 0 1rem;
}
.heroDescriptionBox p{
  background: transparent;
  font-size: 1.5rem;
  padding: 0 0 0 1rem;
}

.heroData {
  grid-column: 2 / 3;
  grid-row: 2;
}
.heroData h2 {
  font-size: 1rem;
  background: transparent;
  padding: 1rem 0 0.5rem 1rem;
}

.heroButton {
  grid-column: 2 / 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 67%;
}

.heroShopButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  border: 1px solid #283142;
  border-radius: 25px;
  text-align: center;
  color: #283142;
  background: #283142;
}
.heroShopButton a {
  text-decoration: none;
  color: #283142;
  background: #283142;
}
.heroShopButton p {
  background: #283142;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grids {
  //border: purple solid 1px;
  background: transparent;
}